body {
  background-color: #304d50;
}

/* responsive images */
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
}

.logo__text {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  list-style-type: none;
}

.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
  color: white;
  margin-top: 2rem;
  gap: 2rem;
}

.hero-section__image {
  width: 100%;
  height: 80vh;
  flex: 1;
}

.hero-section__image img {
    mask-image: url('./assets/shape-mask.svg');
    mask-repeat: no-repeat;
    mask-size: 100% ;
    mask-position: center;
}
.hero-content {
  flex: 1;
}

.hero-section__header {
    font-size: 5rem;
    
}